body{
    margin: 0;
    padding: 0;
    background: rgb(55, 74, 55);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.navigation ul{
    list-style: none;
    background: rgb(57, 56, 56);
    padding: 0;
    margin: 0;
    text-align: right;
}

.navigation li{
    display: inline-block;
}

.navigation a{
    color: black;
    width: 100px;
    display: block;
    padding: 25px 20px;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: right;
}

.navigation a:hover{
    background:  rgb(55, 74, 55);
    text-align: center;
    border: solid black 2px;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 5px;
}
/*Navigation css ends*/

/*start of about section*/
.box{
    margin: 10px 25px;
    /* margin-left: 600px; */
    padding: 10px;
    border-left: solid grey;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
#photo{
    position: relative;
    bottom: 20px;
    top: 20px;
    height: 50%;
    width: 50%;
    text-align: left;
    border-radius: 1000px ;
}
/*End of about section*/

/*Start of project section*/
.box2{
    margin: 10px 25px;
    padding: 0px;
    border: solid grey;
    text-align:center;
    font-size: 20px;
    font-weight: bold;
}

.pics:hover{
    position: relative;
    display: block;
    height: 70%;
    width: 70%;
    margin: 100px;
    padding: 0px;
    border: solid black 3px;

}
/*End of projects section */

/*Start of contact section*/
.box3{
    margin: 10px 25px;
    padding: 10px;
    border-left: solid grey;
    text-align:center;
    font-size: 20px;
    font-weight: bold;
}

/*End of contact section*/

footer{
    margin: 10px 25px;
    padding: 10px;
    border-left: solid grey;
    border-top: solid grey;
    border-right: solid grey;
    text-align: center;
    font-size: 12px;

}
/*End footer*/



    
}